.expense-container {
    background-color: white;
    padding: 16px;
    margin: 20px;
    width: calc(100% - 40px);
    height: calc(90vh - 40px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    overflow: hidden;
    box-sizing: border-box;
}

.mat-tab-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 120px);
    overflow: auto;
}

.button-container {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 30px;
    left: 20px;
    right: 20px;
    background-color: white;
    padding: 12px 16px;
    box-sizing: border-box;
}