<div class="expense-container">
    <div style="display: flex; flex-direction: row; justify-content: space-around;">
        <div>Weekly budget: {{ weeklyBudget| currency }}</div>
        <div [ngStyle]="{color: remainingBudgetColor()}">Remaining budget: {{ remainingBudget | currency }}</div>
    </div>

    <mat-tab-group class="mat-elevation-z1"
                   mat-stretch-tabs
                   [(selectedIndex)]="selectedTab">
        <mat-tab *ngFor="let tab of tabs"
                 [label]="tab">
            <app-expense-list *ngIf="tab !== 'Summary'"
                              [tab]="tab"></app-expense-list>
            <app-summary *ngIf="tab === 'Summary'"></app-summary>
        </mat-tab>
    </mat-tab-group>
</div>

<app-footer [tabs]="tabs"
            [(selectedTab)]="selectedTab"></app-footer>