.headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.headers-align .mat-mdc-form-field+.mat-mdc-form-field {
    margin-left: 0;
}

.form {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px auto;
    width: 245px;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.example-full-width {
    width: 100%;
    margin-bottom: 10px;
}

.mat-form-field {
    width: 100%;
    margin-bottom: 10px;
}

mat-accordion {
    overflow: hidden !important;
}

mat-tab-group {
    overflow: hidden !important;
}

.control-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.multi-button {
    margin: 10px;
}

.expand-collapse-buttons {
    display: flex;
    justify-content: flex-end !important;
}