.expense-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 16px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.mat-tab-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
}

.button-container {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 30px;
    left: 20px;
    right: 20px;
    background-color: white;
    padding: 12px 16px;
    box-sizing: border-box;
}