<div class="expense-container">
    <div style="display: flex; flex-direction: row; justify-content: space-around;">
        <div>Weekly budget: {{ weeklyBudget| currency }}</div>
        <div [ngStyle]="{color: remainingBudgetColor()}">Remaining budget: {{ remainingBudget | currency }}</div>
    </div>
    <mat-tab-group class="mat-elevation-z1"
                   mat-stretch-tabs
                   [(selectedIndex)]="selectedTab">
        <mat-tab *ngFor="let tab of tabs"
                 [label]="tab">
            <app-expense-list *ngIf="tab !== 'Summary'"
                              [tab]="tab"></app-expense-list>
            <app-summary *ngIf="tab === 'Summary'"></app-summary>
        </mat-tab>
    </mat-tab-group>
    <div class="button-container">
        <button mat-stroked-button
                color="primary"
                (click)="back()"
                [disabled]="selectedTab === 0">
            {{ tabs[(selectedTab - 1 + tabs.length) % tabs.length] }}
        </button>
        <button mat-stroked-button
                color="primary"
                (click)="next()"
                [disabled]="selectedTab === tabs.length - 1">
            {{ tabs[(selectedTab + 1) % tabs.length] }}
        </button>
    </div>
</div>