<div class="mat-elevation-z2">
    <mat-tab-group [(selectedIndex)]="selectedTab" mat-stretch-tabs class="mat-elevation-z1">
        <mat-tab *ngFor="let tab of tabs" [label]="tab">
            <app-expense-form></app-expense-form>
            <app-expense-list></app-expense-list>
        </mat-tab>
    </mat-tab-group>

    <div class="button-container" style="display: flex; justify-content: space-between; ">
        <button mat-stroked-button color="primary" (click)="back()" disabled [disabled]="selectedTab === 0">
            {{ tabs[(selectedTab - 1 + tabs.length) % tabs.length] }}
        </button>
        <button mat-stroked-button color="primary" (click)="next()" disabled
            [disabled]="selectedTab === tabs.length - 1">
            {{ tabs[(selectedTab + 1) % tabs.length] }}
        </button>
    </div>
</div>